body {
    color: black !important;
}

.logosx > svg {
    clip-path: ellipse(39% 47% at 50% 50%);
}

.card1icon {
    background-color: white;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 10px;
}

.cardimages > svg {
    max-width: 40px;
    max-height: 40px;
    
    @media screen {
    max-width: 40px;
    max-height: 40px;
    }
}

.cardimages > img {
    max-width: 40px;
    max-height: 40px;
    
    @media screen {
    max-width: 40px;
    max-height: 40px;
    }
}

.footerbuttons > button {
    width: 200px;
    height: 50px;
    max-width: 300px;
    max-height: 300px;
}

.logosy > svg {
    clip-path: ellipse(39% 47% at 50% 50%);
}

.footerspacer {
    opacity: 0.0;
}